.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: WindowText;
	white-space: nowrap;
	height: 18px;	
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 0px 2px 0px 2px;	
	font-size:13px;		
}

.webfx-tree-item a {
	color: black;
	text-decoration: none;		
	border:1px solid #ffffff;
}

.webfx-tree-item a:hover {
	background-color:#e8f4ff;
	border:1px solid #0099CC;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon {
	width: 16px;
	height: 16px;
}
.webfx-tree-item a.selected {
	color: selectedtext;
	background: selected;
}

.webfx-tree-item a.selected-inactive {
	color: white;
	background: blue;
}

input.tree-check-box {
width:		auto;
margin:		0;
padding:	2px 0px 0px 0px;
height:		14px;
vertical-align:	middle;
}